data_base/vector_db/chroma/chroma.sqlite3 filter=lfs diff=lfs merge=lfs -text
data_base/vector_db/chroma/c9731f8d-4206-40b5-8c4b-e7ea86e99794/data_level0.bin filter=lfs diff=lfs merge=lfs -text
data_base/vector_db/chroma/c9731f8d-4206-40b5-8c4b-e7ea86e99794/index_metadata.pickle filter=lfs diff=lfs merge=lfs -text
data_base/vector_db/chroma/c9731f8d-4206-40b5-8c4b-e7ea86e99794/link_lists.bin filter=lfs diff=lfs merge=lfs -text
data_base/vector_db/chroma/c9731f8d-4206-40b5-8c4b-e7ea86e99794/header.bin filter=lfs diff=lfs merge=lfs -text
data_base/vector_db/chroma/c9731f8d-4206-40b5-8c4b-e7ea86e99794/length.bin filter=lfs diff=lfs merge=lfs -text
